---
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "/posts/{{ redirect.from }}/"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0; url=/posts/{{ redirect.to | encodeUri }}/">
    <link rel="canonical" href="{{ site.url }}/posts/{{ redirect.to | encodeUri }}/">
    <title>Redirecting…</title>
    <script>location.replace("/posts/{{ redirect.to | encodeUri }}/" + location.hash);</script>
</head>
<body>
    <p>This post has moved to <a href="/posts/{{ redirect.to | encodeUri }}/">/posts/{{ redirect.to }}/</a>.</p>
</body>
</html>
